{
  "presets": ["module:metro-react-native-babel-preset", "@babel/preset-react"],
  "plugins": [
    [
      "module-resolver",
      {
        "alias": {
          "@": "./src"
        }
      }
    ]
  ]
  // "env": {
  //   "development": {
  //     "presets": ["env"]
  //   }
  // }
}
